[submodule "docs/doxygen_docs/doxygen-awesome-css"]
	path = docs/doxygen_docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "utils/reasoning/situational_graphs_reasoning"]
	path = utils/reasoning/situational_graphs_reasoning
	url = https://github.com/snt-arg/situational_graphs_reasoning.git
	branch = develop
[submodule "utils/reasoning/situational_graphs_wrapper"]
	path = utils/reasoning/situational_graphs_wrapper
	url = https://github.com/snt-arg/situational_graphs_wrapper.git
	branch = develop
[submodule "utils/reasoning/situational_graphs_datasets"]
	path = utils/reasoning/situational_graphs_datasets
	url = https://github.com/snt-arg/situational_graphs_datasets.git
	branch = develop
[submodule "utils/msgs/situational_graphs_reasoning_msgs"]
	path = utils/msgs/situational_graphs_reasoning_msgs
	url = https://github.com/snt-arg/situational_graphs_reasoning_msgs.git
	branch = main
[submodule "utils/msgs/situational_graphs_msgs"]
	path = utils/msgs/situational_graphs_msgs
	url = https://github.com/snt-arg/situational_graphs_msgs
	branch = main
