<launch>
    <arg name="velodyne_tfs" default="true"/>
    <arg name="base_velodyne_to_velodyne_tf" default="false"/>
    <arg name="ouster_tfs" default="false"/>

    <param name="use_sim_time" value="true" />

    <group if="$(arg velodyne_tfs)">
        <group if="$(arg base_velodyne_to_velodyne_tf)">
            <node pkg="tf" type="static_transform_publisher" name="velodyne_to_basefootprint" args="0 0 0 0 0 0 base_footprint velodyne 10" />
        </group>
        <node pkg="tf" type="static_transform_publisher" name="map_to_keyframes" args="0 0 7 0 0 0 map keyframes_layer 10" />
        <node pkg="tf" type="static_transform_publisher" name="keyframe_to_wall" args="0 0 8 0 0 0 keyframes_layer walls_layer 10" />
        <node pkg="tf" type="static_transform_publisher" name="wall_to_room" args="0 0 7 0 0 0 walls_layer rooms_layer 10" />
        <node pkg="tf" type="static_transform_publisher" name="room_to_floor" args="0 0 5 0 0 0 rooms_layer floors_layer 10" />
    </group>


    <group if="$(arg ouster_tfs)">
        <node pkg="tf" type="static_transform_publisher" name="os_sensor_to_os_lidar" args="0 0 0.036 0 0 1 0 os_sensor os_lidar 10" />
        <node pkg="tf" type="static_transform_publisher" name="os_sensor_to_os_imu" args="0.006 -0.012 0.008 0 0 0 1 os_sensor os_imu 10" />
        <node pkg="tf" type="static_transform_publisher" name="base_link_to_os_sensor" args="0 0 0.0528 0 0 0 1 base_link os_sensor 10" />
    </group>

</launch>