<launch>
  <!--ROOM SEGMENTATION -->
  <node pkg="nodelet" type="nodelet" name="hdl_room_seg_nodelet_manager" args="manager" output="screen" />
  <node pkg="nodelet" type="nodelet" name="hdl_room_segmentor" args="load s_graphs/RoomSegmentationNodelet hdl_room_seg_nodelet_manager">
  </node>
<!--   <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 body velodyne 100" />
 -->
</launch>
